{% extends 'base.html' %}
{% block title %}Analysis{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">📊 Fitness Data Analysis</h2>
    <p class="text-muted text-center">Visualize trends and insights from your fitness data here.</p>
</div>

<div class="text-center mt-4">
    <img src="{{ url_for('static', filename='images/fitness_dummy_analysis.png') }}" class="img-fluid" alt="Fitness Graph">
</div>
<div class="text-center mt-4">
    <img src="{{ url_for('static', filename='images/sleep_dummy_analysis.png') }}" class="img-fluid" alt="Sleep Graph">
</div>


{% endblock %}
