{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% if error %}
  <div class="text-danger text-center mb-3">
    {{ error }}
  </div>
{% endif %}

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="col-md-5">
    <h2 class="text-center">Log In</h2>
    <p class="text-center">
      Don’t have an account? <a href="{{ url_for('main.register') }}">Sign Up</a>
    </p>
    <form method="POST">
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control"
       placeholder="Enter Email" required value="{{ email | default('') }}">
      </div>
      <div class="mb-3 position-relative">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
        <!-- Optional: Add JS for show/hide password -->
      </div>
      <div class="mb-3 text-end">
        <a href="#" class="text-decoration-none">Forgot Password?</a>
      </div>
      <button type="submit" class="btn btn-dark w-100">LOG IN</button>
    </form>
  </div>
</div>
{% endblock %}
